body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-white);
  color: var(--bg-color-black);
  font-family: "Roboto", sans-serif;
}

a{
  color: blue;
}

h1, strong, b {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

b, strong{
  font-style: italic;
}

h1{
  font-size: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

img {
  width: 18%;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 50%;
  border: 2px solid var(--bg-color-black);
  box-shadow: 0.5px 0.5px var(--bg-color-black);
}

.nome {
  width: 82%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: var(--bg-color-black);
}

section {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  text-align: center;
}

img.whatsapp{
  animation: pulse 1.2s infinite ease-in-out;
  position: fixed;
  bottom: -30px;
  right: -20px;
  width: 200px;
  box-shadow: none;
  border: none;
}

.whatsapp:hover{
  cursor: pointer;
}

@keyframes pulse{
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
}