body{
  padding: 0;
  margin: 0;
  width: 100%;
}

.header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%;
}


.row{
  display: flex;
  background-color: #282c34;
  max-width: 100%;
  max-height:400px;
  color: #fff;
}

img{
  border-radius: 50%;
  width: 100%;
}

.img{
  width: 20%;
}

.name{
  width: 80%;
}

body > header > div > div.name > h1{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 14%;
  height: 100%;
  width: 100%;
}

.section{
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%;
  text-align: center;
}

#contato{
  color:white;
  font-weight: 400;
}



a{
  color:blue;
  font-weight: 400;
}

.link {
  color: #fff;
}
