body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f0ffff, #d5f9e3, #e7ffff);
  color: #000;
  font-family: "Arial", sans-serif; /* Alterei a fonte para Arial */
}

h1, strong, b {
  font-family: "Arial", sans-serif; /* Alterei a fonte para Arial */
  font-weight: 600;
}

b, strong{
  font-style: italic;
}

h1{
  font-size: 32px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

img {
  width: 18%;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 50%;
}

.nome {
  width: 82%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #333;
}

section {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  text-align: center;
}

@media screen and (max-width: 545px) {
  section {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    text-align: center;
  }
}
